body.dark .os-viewport {
  background-color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 768px) {
  body {
    background-position: unset;
  }
}

.ui.inverted.segment,
#dream-search.inverted .results {
  background-color: #333;
}

.dream-nav.fixed {
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%) !important;
}

.ui.attached.segment.dream-card {
  border: none;
  border-radius: 1.5em;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%); /* Bulma Box */
}

.dream-back .ui.segment,
.ui.segment.dream-posts-section,
.ui.segment.dream-categories-section,
.ui.segment.dream-tags-section,
.dream-single-aside .ui.segment,
.ui.segment.post-disqus-area,
.ui.segment.utterances-comments {
  border-radius: 1.5em;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%);
}

.ui.segment.toc {
  padding: 0;
  background: none;
  border: none;
  box-shadow: none;
  float: right;
}

.dream-single .ui.top.attached.segment {
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
}

.dream-single .ui.attached.segment:not(.cover) {
  border-bottom-left-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%);
}

body.dark .markdown-body .highlight pre {
  background: #222 !important;
}

code.has-jax {
  -webkit-font-smoothing: antialiased;
  background: inherit !important;
  border: none !important;
  font-size: 100%;
}

img[src$='#center']
{
    display: block;
    margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
    /* whatever else styles you fancy here */
}

img[src$='#center']{
  display: block;
  margin: 0.9rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
  /* whatever else styles you fancy here */
 }
img[src$='#floatleft']{
    float:left;
    margin: 0.7rem;
}
img[src$='#floatright']{
    float:right;
    margin: 0.7rem;
}

kbd {
	margin: 0px 0.1em;
	padding: 0.1em 0.6em;
	border-radius: 3px;
	border: 1px solid rgb(204, 204, 204);
	color: rgb(51, 51, 51);
	line-height: 1.4;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 10px;
	display: inline-block;
	box-shadow: 0px 1px 0px rgba(0,0,0,0.2), inset 0px 0px 0px 2px #ffffff;
	background-color: rgb(247, 247, 247);
	-moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
	-webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-shadow: 0 1px 0 #fff;
}

*{ cursor:url(/others/cursor.cur),auto;}